
.igv-drag-and-drop-presentation-button {

    position: relative;
    height: 100%;

    float: left;

    cursor: pointer;

    text-align: center;
    vertical-align: middle;
    line-height: 100%;

    color: #36464b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;

    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;

    margin-left: 32px;

    background-color: #c8dadf;
}

.igv-drag-and-drop-container {
    position: absolute;
    top: 100px;
    left: 25%;
    width: 50%;
    text-align: center;
    margin: 0 auto;

    z-index: 2000;
}

.igv-drag-and-drop-close-container {

    position: absolute;
    top: 16px;
    right: 18px;

    text-align: center;
    line-height: 100%;

    color: #36464b;

}

.igv-drag-and-drop-close-container:hover {
    color: #c8dadf;
}

.igv-drag-and-drop-close-fa {

    cursor: pointer;
    color: #92b0b3;
}

.igv-drag-and-drop-box {
    position: relative;

    color: #36464b;

    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;

    padding: 100px 20px;

    background-color: #c8dadf;
}

.igv-drag-and-drop-warning {
    position: relative;

    width: 100%;

    color: red;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;

    margin-top: 32px;

    /*background-color: white;*/
}

.igv-drag-and-drop-warning-close-container {

    position: absolute;
    top: 1px;
    right: 48px;

    text-align: center;
    line-height: 100%;

    cursor: pointer;

    color: red;

}

.igv-drag-and-drop-warning-close-container:hover {
    color: #7f0000;
}

.igv-drag-and-drop-warning-close-fa {
}

.igv-drag-and-drop-url-input-container {
    position: relative;
    width: 100%;
    margin-top: 1px;
}

.igv-drag-and-drop-url-input-container > div {
    margin-top: 14px;
    margin-bottom: 14px;
}

.igv-drag-and-drop-url-input {

    display: block;

    width: 100%;

    color: #36464b;

    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;

    text-align: center;

    padding-left: 4px;

    border: 0;
    border-bottom: 2px solid #36464b;

    background: transparent;
}

.igv-drag-and-drop-url-input:hover {
    /*border-bottom: 2px solid #39bfd3;*/
    background: white;
    border-bottom: 2px solid transparent;
}

.igv-drag-and-drop-box.is-dragover {
    background-color: #fff;
}

.box__dragndrop {
    display: none;
}

.igv-drag-and-drop-box .box__dragndrop {
    display: inline;
}

.box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.box__file:hover + label strong {
    color: #39bfd3;
}

.box__input label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.fa-container {
    position: relative;
    color: #92b0b3;
    padding-bottom: 2px;

}
